{% extends 'base.html.twig' %}

{% block title %}Blog posts{% endblock %}

{% block body %}
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" aria-label="Search" name="title" value="{{ app.request.query.get('title') }}">
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Найти</button>
    </form>
    <h1>Total posts: {{ pagination.getTotalItemCount }}</h1>
    <ul class="list-group">
        {% for post in pagination %}
            <li class="list-group-item"><a href="{{ path('blog_show', {'slug': post.slug}) }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
